.featured{
    height: 720px;
    padding-bottom: 3rem;
    background-image: url('../../../assets/home/featured.jpg');
    position: relative;

    background-position: center;
    background-size: cover;
   background-color: #000000;
    
}